<ion-view view-title="StudiCard">

  <ion-content class="calend" id="news-feed-content">
    <ion-slide-box slide-tabs-scrollable="false"  show-pager="false" ion-slide-tabs class="positive">
      <ion-slide ion-slide-tab-label="<b>souscrire</b>">

        <div class="">
          <div class="list list-inset">
            <div class="item item-divider" id="divide">
              Identité
            </div>
            <div class="row responsive-md">
              <div class="col col-50">
                <label class="item item-input" id="divide">
                  <input type="text" placeholder="Nom">
                </label>
              </div>
              <div class="col col-10"></div>
              <div class="col col-40">
                <label class="item item-input" id="divide">
                  <input type="text" placeholder="Prénom">
                </label>
              </div>
            </div>
            <div class="row responsive-md">
              <div class="col col-40">
                <label class = "item item-input item-select" id="divide">
                  <div class = "input-label">
                    Sexe
                  </div>
                  <select>
                    <option selected>Homme</option>
                    <option>Femme</option>
                  </select>
                </label>
              </div>
              <div class="col col-10"></div>
              <div class="col col-50">
                <label>Date de naisssance</label>
                <label class="item item-input item-icon-right" id="divide">
                  <input type="date" placeholder="Date de naissance">
                  <i class="icon ion-calendar"></i>
                </label>
              </div>
            </div>
            <div class="row responsive-md">
              <div class="col col-50">
                <label class="item item-input"  id="divide">
                  <input type="text" placeholder="Adresse">
                </label>
              </div>
              <div class="col col-10"></div>
              <div class="col col-40">
                <label class="item item-input" id="divide">
                  <input type="text" placeholder="ville">
                </label>
              </div>
            </div>
            <div class="item item-divider" id="divide">
              Pièce d'identification
            </div>
            <div class="row responsive-md">
              <div class="col col-33">
                <label class = "item item-input item-select" id="divide">
                  <div class = "input-label">&nbsp;
                  </div>
                  <select>
                    <option selected>CNI</option>
                    <option>Passport</option>
                  </select>
                </label>
              </div>
            </div>
            <div class="row responsive-md">
              <div class="col col-50">
                <label>Date de delivrance</label>
                <label class="item item-input item-icon-right" id="divide">
                  <input type="date" placeholder="Date de délivrance">
                  <i class="icon ion-calendar"></i>
                </label>
              </div>
              <div class="col col-10"></div>
              <div class="col col-40">
                <label >Date d'expiration</label>
                <label class="item item-input item-icon-right" id="divide">
                  <input type="date" placeholder="Date d'expiration">
                  <i class="icon ion-calendar"></i>
                </label>
              </div>
            </div>
            <div class="item item-divider" id="divide">
              Contacts
            </div>
            <div class="row responsive-md">
              <div class="col col-50">
                <label class="item item-input" id="divide">
                  <input type="number" placeholder="Tel principal">
                </label>
              </div>
              <div class="col col-10"></div>
              <div class="col col-40">
                <label class="item item-input" id="divide">
                  <input type="number" placeholder="Tel Secondaire">
                </label>
              </div>
            </div>
            <div class="row responsive-md">
              <div class="col col-75">
                <label class="item item-input" id="divide">
                  <input type="email" placeholder="Email" size="75%">
                </label>
              </div>
            </div>
          </div>
          <div class="row responsive-md">
            <div class="col col-45"></div>
            <div class="col col-10">
              <div class="button positive">
                Souscrire
              </div>
            </div>
            <div class="col col-45"></div>
          </div>
        </div>
        </ion-slide>

      <ion-slide ion-slide-tab-label="<b>actualite</b>">

        <div class="news-item" style="background-image:url('img/studi.png');height: 80px;">

        </div>

        <div class="news-item">

          <!--header section-->
          <div class="row header">
            <div class="col-25" style="font-size: 12px">
              <strong><u>ECONOMIE</u> :</strong>
            </div>
            <div class="col-66">
                   <span class="name" style="font-size: 12px">
                       Des Avancés considérables au Cameroun
                   </span>
            </div>
            <div class="col-10">
                <i class="fa fa-star-o fa-2x"></i>
            </div>
          </div><!--end header section-->

          <!--detail section-->
          <div class="row detail row-no-padding">
            <div class="location-item">
              <div class="location-img" style="background-image:url('img/feed.png')">

              </div>
              <div class="location-content row">
                <div class="col">
                  <p class="content">
                    A material metaphor is the unifying theory of a rationalized space and a system of motion. The
                    material is grounded in tactile reality, inspired by the study of paper and ink, yet
                    technologically advanced and open to imagination and magic.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!--footer section-->
          <div class="row footer">
            <div class="col-33 date">
              7 Octobre
            </div>
            <div class="col-25">

            </div>
            <div class="col-40 social">
              <i class="fa fa-facebook face"></i>
              <i class="fa fa-twitter twi"></i>
              <i class="fa fa-google-plus gle"></i>
            </div>
          </div><!--end footer section-->

        </div><div class="news-item">

          <!--header section-->
          <div class="row header">
            <div class="col-25" style="font-size: 12px">
              <strong><u>SPORT</u> :</strong>
            </div>
            <div class="col-66">
                   <span class="name" style="font-size: 12px">
                       Des Avancés considérables au Cameroun
                   </span>
            </div>
            <div class="col-10">
                <i class="fa fa-star-o fa-2x"></i>
            </div>
          </div><!--end header section-->

          <!--detail section-->
          <div class="row detail row-no-padding">
            <div class="location-item">
              <div class="location-img" style="background-image:url('img/feed.png')">

              </div>
              <div class="location-content row">
                <div class="col">
                  <p class="content">
                    A material metaphor is the unifying theory of a rationalized space and a system of motion.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!--footer section-->
          <div class="row footer">
            <div class="col-33 date">
              10 Octobre
            </div>
            <div class="col-25">

            </div>
            <div class="col-40 social">
              <i class="fa fa-facebook face"></i>
              <i class="fa fa-twitter twi"></i>
              <i class="fa fa-google-plus gle"></i>
            </div>
          </div><!--end footer section-->

        </div><div class="news-item">

          <!--header section-->
          <div class="row header">
            <div class="col-25" style="font-size: 12px">
              <strong><u>POLITIQUE</u> :</strong>
            </div>
            <div class="col-66">
                   <span class="name" style="font-size: 12px">
                       Des Avancés considérables au Cameroun
                   </span>
            </div>
            <div class="col-10">
                <i class="fa fa-star-o fa-2x"></i>
            </div>
          </div><!--end header section-->

          <!--detail section-->
          <div class="row detail row-no-padding">
            <div class="location-item">
              <div class="location-img" style="background-image:url('img/feed.png')">

              </div>
              <div class="location-content row">
                <div class="col">
                  <p class="content">
                    The material is grounded in tactile reality, inspired by the study of paper and ink, yet
                    technologically advanced and open to imagination and magic.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!--footer section-->
          <div class="row footer">
            <div class="col-33 date">
              8 Decembre
            </div>
            <div class="col-25">

            </div>
            <div class="col-40 social">
              <i class="fa fa-facebook face"></i>
              <i class="fa fa-twitter twi"></i>
              <i class="fa fa-google-plus gle"></i>
            </div>
          </div><!--end footer section-->

        </div>
      </ion-slide>
      <ion-slide ion-slide-tab-label="<b>annuaire</b>">
        <div class="texte">
          <h2 align="center">
            <div class="card">
              <ion-list>
                <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
                  {{playlist.title}}
                </ion-item>
              </ion-list>
              </div>
            </div>

          </h2>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
