<ion-view view-title="StudiCard">
  <ion-content>
    <br><br>
    <div class="row">
      <div class="col-5"></div>
      <div class="col-75">
    <div class="row dark-border ">
      <div class="item item-avatar card bordure"  style="background-color:#919191"><p><span style="text-color:#011744 ">auto-ecole</span></p></div>
      <div class="item item-avatar card bordure"  style="background-color:#919191"><p >auto-ecole</p></div>
      <div class="item item-avatar card bordure"  style="background-color:#919191"><p >auto-ecole</p></div>
    </div>
        <div class="row dark-border">
          <div class="item item-avatar card bordure"  style="background-color:#919191"><p><span style="text-color:#011744 ">auto-ecole</span></p></div>
          <div class="item item-avatar card bordure"  style="background-color:#919191"><p >auto-ecole</p></div>
          <div class="item item-avatar card bordure"  style="background-color:#919191"><p >auto-ecole</p></div>
        </div>
        <div class="row dark-border ">
          <div class="item item-avatar card bordure"  style="background-color:#919191"><p><span style="text-color:#011744 ">auto-ecole</span></p></div>
          <div class="item item-avatar card bordure"  style="background-color:#919191"><p >auto-ecole</p></div>
          <div class="item item-avatar card bordure"  style="background-color:#919191"><p >auto-ecole</p></div>
        </div>

        <div class="row dark-border ">
          <div class="item item-avatar card bordure"  style="background-color:#919191"><p><span style="text-color:#011744 ">auto-ecole</span></p></div>
          <div class="item item-avatar card bordure"  style="background-color:#919191"><p >auto-ecole</p></div>
          <div class="item item-avatar card bordure"  style="background-color:#919191"><p >auto-ecole</p></div>
        </div>
        <div class="row dark-border ">
          <div class="item item-avatar card bordure"  style="background-color:#919191"><p><span style="text-color:#011744 ">auto-ecole</span></p></div>
          <div class="item item-avatar card bordure"  style="background-color:#919191"><p >auto-ecole</p></div>
          <div class="item item-avatar card bordure"  style="background-color:#919191"><p >auto-ecole</p></div>
        </div>


    </div>
      </div>
      <div class="col-20"></div>
    </div>
  </ion-content>
</ion-view>
