
<ion-modal-view>

  <ion-content style="background-color:#337ab7" class="">

    <h2><u>Nouvelle Souscription</u></h2>
    <div class="list">
      <div class="iem item-input">
        <input type="text" placeholder="Identité">
      </div>
      <div class="iem item-input">
        <input type="text" placeholder="Nom">
        <input type="text" placeholder="prenom">
      </div>
      <div class="iem item-input">
        <select>
          <option>Blue</option>
          <option selected>Green</option>
          <option>Red</option>
        </select>
        <input type="date" class="">
      </div>
      <div class="iem item-input">
        <input type="text" placeholder="Identité">
      </div>
      <div class="iem item-input">
        <input type="text" placeholder="Identité">
      </div>
      <div class="iem item-input">
        <input type="text" placeholder="Identité">
      </div>
      <div class="iem item-input">
        <input type="text" placeholder="Identité">
      </div>
      <div class="iem item-input">
        <input type="text" placeholder="Identité">
      </div>
      <div class="iem item-input">
        <input type="text" placeholder="Identité">
      </div>
      <div class="iem item-input">
        <input type="text" placeholder="Identité">
      </div>
    </div>

  </ion-content>

</ion-modal-view>
