<ion-modal-view>

  <ion-content style="background-color:#337ab7" class="bg-color">

    <div class="row">


      <div class="col col-33 col-offset-33">
        <p ng-show="false">colince</p>
           <br>
        <p align="center"> <img src="img/logo.png" alt="image logo"></p>

      </div>

    </div>
    <div class="row padding">
      <div class="col-20"></div>
      <div class="col-55" style="align:center">
        <div  class="list">
            <label class="item-input-wrapper">
              <input type="text" placeholder="Login" ng-model="user.name">
            </label><br>
            <label class="item-input-wrapper">
              <input type="password" placeholder="mot de passe" ng-model="user.pass" >
            </label><br>
            <button class="button button-assertive" style="align:center" ng-click="doLogin()" >
              OK
            </button>
      </div>
      <div class="col-25"></div>
    </div>
      </div>
    <div class="row">
      <div class="col-20"></div>
      <div class="col-80">
        <button class="button button-clear button-positive" style="text-decoration-color:#11c1f3;">
          <strong>mot de pass oublie?</strong>
        </button><br>
        <button class="button button-clear button-positive" style="text-decoration-color:#11c1f3;"  ng-click=" closeLogin()"> </button>
          <strong><a href="#/app/inscription">je ne dispose pas de compte</a></strong>
        </button><br><br><br><br>
        <button class="button button-clear button-positive" style="text-decoration-color:#11c1f3;" >
          <strong>study worry free</strong>
        </button><br>

      </div>

    </div>


  </ion-content>
</ion-modal-view>
