<ion-view view-title="Mentions legales">
  <ion-content>
    <div>
      <p class="apropos-class">

        La situation socio-économique des étudiants ou élèves camerounais « <br> Fer de lance de la Nation » ne cesse de décroitre  au point même de vaciller au fil des années qui passent. Les grands débats intellectuels, les forums, et même les revendications les plus fortes des Associations estudiantines restent toujours impuissants face à cette gangrène qui ne facilite pas le quotidien des étudiants et élèves.
        C’est pourquoi face à cette situation problématique, il était urgent pour nous l’Association <br>AXES (ASAXES) de trouver et de proposer une nouvelle solution révolutionnaire qui va influencer directement de manière positive le pouvoir d’achat des étudiants et des élèves en réduisant considérablement leur coût de vie. Ainsi, il est question de dresser un véritable partenariat de confiance entre l’étudiant ou <br>l’élève, et les entreprises soucieuses de l’amélioration de leur condition de vie.
      </p>

    </div>
  </ion-content>
</ion-view>
