<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive  material-background-nav-bar">
      <ion-nav-buttons side="left">
        <a class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="toggleLeft()"></a>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <md-sidenav md-component-id="left" on-swipe-left="closeSideNav()" on-drag-left="closeSideNav()">
    <!--menu section-->
    <div class="material-background" id="toggle-menu-left-header">
      <!--menu header section-->
      <div class="menu-left-header">
        <div class="row heabUser">
          <div class="col-25">
             <a class="editUser">
               <i class="fa fa-edit"></i>
             </a>
          </div>
          <div class="col-50">
            <img  class="user-img" src="img/profileAvatar.jpg" >
          </div>
          <div class="col-25">
            <a class="addUser">
              <i class="fa fa-plus"></i>
            </a>
          </div>
        </div>
        <p class="text-center">
          <span class="title">LE FIANGO</span>
          <br/>
          <span class="sub-title">S 123 456 623 789 X</span>
        </p>
      </div><!--end menu header section-->
    </div> <!--menu content section-->
    <ion-content id="toggle-menu-left-content">
      <div ng-if="isAndroid" class="menu-list">
        <md-subheader class="md-warn">Menu StudiCard</md-subheader>
        <div class="row menu-item" ui-sref="actualite">
          <div class="col-33">
            <i class="fa fa-newspaper-o"></i>
          </div>
          <div class="col-66">
            <span>StudiCard</span>
          </div>
        </div>
        <div class="row menu-item" ui-sref="mention">
          <div class="col-33">
            <i class="icon ion-android-cart"></i>
          </div>
          <div class="col-66">
            <span>Mention legales</span>
          </div>
        </div>
        <div class="row menu-item">
          <div class="col-33">
            <i class="fa fa-share-square"></i>
          </div>
          <div class="col-66">
            <span>Partager</span>
          </div>
        </div>
        <md-subheader class="md-warn">Menu help</md-subheader>
        <div class="row menu-item">
          <div class="col-33">
            <i class="fa fa-phone"></i>
          </div>
          <div class="col-66">
            <span>Nous contacter</span>
          </div>
        </div>
        <div class="row menu-item" ui-sref="favaris">
          <div class="col-33">
            <i class="icon ion-help-circled"></i>
          </div>
          <div class="col-66">
            <span>Apropos</span>
          </div>
        </div>
        <md-subheader class="md-warn">Mon compte</md-subheader>
        <div class="row menu-item" href="#/app/profile">
          <div class="col-33">
            <i class="fa fa-user"></i>
          </div>
          <div class="col-66">
            <span>profile</span>
          </div>
        </div>
        <md-subheader class="md-warn">Connexion</md-subheader>
        <div class="row menu-item">
          <div class="col-33">
            <i class="fa fa-sign-out"></i>
          </div>
          <div class="col-66">
            <span>Deconnexion</span>
          </div>
        </div>
      </div>

      <md-list ng-if="!isAndroid">
        <md-subheader class="md-warn">Menu StudiCard</md-subheader>
        <md-list-item class="menu-list-item" ng-click="navigateTo('app.actualite')">
          <i class="fa fa-newspaper-o"></i>
          <span>StudiCard</span>
        </md-list-item>
        <md-list-item class="menu-list-item" ng-click="navigateTo('app.mention')">
          <i class="icon ion-android-cart"></i>
          <span>Mention legales</span>
        </md-list-item>
        <md-list-item class="menu-list-item">
          <i class="fa fa-share-square"></i>
          <span>Partager</span>
        </md-list-item>
        <md-subheader class="md-warn">Menu help</md-subheader>
        <md-list-item class="menu-list-item" ng-click="navigateTo('app.favaris')">
          <i class="icon ion-help-circled"></i>
          <span>Apropos</span>
        </md-list-item>
        <md-list-item class="menu-list-item">
          <i class="fa fa-phone"></i>
          <span>Nous contacter</span>
        </md-list-item>
        <md-subheader class="md-warn">Mon compte</md-subheader>
        <md-list-item class="menu-list-item" ng-click="navigateTo('app.profile')">
          <i class="fa fa-user"></i>
          <span>profile</span>
        </md-list-item>
        <md-subheader class="md-warn">Connexion</md-subheader>
        <md-list-item class="menu-list-item">
          <i class="fa fa-sign-out"></i>
          <span>Deconnexion</span>
        </md-list-item>
      </md-list>
      <!--end list section-->
    </ion-content><!--end menu content section-->
    <!--end menu section-->

  </md-sidenav>

</ion-side-menus>
